{% extends "shop/base_2.html" %}
{% load staticfiles %}
{% block title %}
    Thank you
{% endblock %}

{% block content %}
<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>

<br>
<br>
<br>
<div class="container">
<div class="text-center">
  <img class="mb-4 "src="{% static 'smile.png' %}" alt="" width="72" height="72">
</div>


    <h1 align="center">Thank you!</h1>
    <p align="center">Your order has been successfully completed.</p>


<div class="text-center mt-4">
    <a class="btn btn-default" role="button" href="{% url "shop:product_list" %}">继续购物</a>
</div>

<br>
<br>
<br>
<!--Section: Features v.1-->
<section class="text-center">


  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-truck fa-3x grey-text"></i>
      <h5 class="font-weight-bold mt-3">Free Shipping</h5>
      <p class="grey-text">Free shipping for all orders over $100</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-refresh fa-3x grey-text"></i>
      <h5 class="font-weight-bold mt-3">Money Back Guarantee</h5>
      <p class="grey-text">We return money within 30 days</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-comments-o fa-3x grey-text"></i>
      <h5 class="font-weight-bold mt-3">24/7 Customer Support</h5>
      <p class="grey-text">Friendly 24/7 customer support</p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->
</div>

<br>
<br>
<br>

{% endblock %}
